.container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}
.subcontainer{
    
}
.movieform{
   display: flex;
   flex-direction: column;
   width: 80%;
   margin:auto;
   height: 350px;
   padding:10%;
}
.button{
    background-color:rgb(43, 90, 165);
    border: none;
    color: white;
    padding: 15px 75px;
    text-align: center;
    font-size: 16px;
  }
  .header{
    color: black;
    font-size:30px;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}